.socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0 10px;
    }
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    border: 2px solid salmon;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}